<div class="row">
    <div class="col-xs-12">
        <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>

    </div>
</div>

<div class="row">
    <div class="col-xs-12">
       <app-odd *ngFor="let oddnum of oddNumbers" [number]="oddnum"></app-odd>
       <app-even *ngFor="let evennum of evenNumbers" [number]="evennum"></app-even>
    </div>
</div>